<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GTrustDashBoard.Properties.Settings.DBConnection"
            connectionString="Data Source=.;Initial Catalog=db_a5d7b5_microfinance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>